form {
   width: 600px;
   border-radius: 10px;
   border: 1px solid rgb(199, 199, 199);
   margin-bottom: 10px;
   text-align: center;
   
}

#author-select {
    width: 408px;
    margin-bottom: 5px;

}

input {
    width: 400px;
    margin-bottom: 5px;

}

textarea {
    width: 402px;
    margin-bottom: 5px;
}
button {
   
    margin-bottom: 5px;
}